img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 3px solid #016FF9;
    width: 30%;
    margin-left: calc(10%/6);
    margin-bottom: 1.2em;
    padding: 1.2em 0;
}
